# -*- coding: utf-8 -*-

# Root directory for files that are served through WebDAV.
# Users are denied access outside this directory.
root_dir = '/tmp'

# Root url of the WebDAV repository.
# Can usually be None, so that the program automatically decides the path
# based on request.
# If specified, should be like 'http://domain.com/webdav.cgi/'.
# Any spaces and other special characters in the url must be encoded with the
# percent notation (like %20 for space).
root_url = None

# Access restrictions
# List entries can be either shell glob patterns (* and ? wildcards)
# or Python functions taking a path and returning a boolean.
#
# Glob patterns are matched against each component of the path, so that
# e.g. '.svn' also denies access to all files under '.svn'.
#
# Python functions get the whole path to the file in file system and
# should return True to deny access.

# Deny all access to these files.
restrict_access = [
    '.ht*',
    '.svn'
]
    
# Deny write access to these files.
restrict_write = [
    '*.php',
    '*.cgi',
    '*.fcgi',
    '*.pl',
    
    # Apache is silly and matches multiple file extension
    # individually in some configurations.
    # E.g. test.php.txt gets parsed as php.
    '*.php.*',
    '*.cgi.*',
    '*.fcgi.*',
    '*.pl.*',
]

# Lock configuration

# Lock database file, set to None to disable lock support.
# Path can be relative to root_dir or absolute.
lock_db = '.easydav_locks'

# Maximum timeout in seconds that clients can set for locks.
# The default setting 3600 lets locks stay for 1 hour before
# they have to be refreshed.
lock_max_time = 3600

# Internal timeout in seconds for accessing the lock database.
# Default setting should be ok unless you start seeing
# 503 Service Unavailable errors.
lock_wait = 5

# Error logging

# Log path, set to None to disable logging.
# Path can be relative to webdav.py location or absolute.
log_file = 'easydav.log'

# Log level, higher means less verbose output.
# Levels are defined in python module 'logging':
# DEBUG = 10
# INFO = 20
# WARN = 30
# ERROR = 40
# FATAL = 50
log_level = 30

